#root {
    --clr-green: #0eff4e;
    --clr-violet: #7933ff;
    --clr-black: #000C14;
    --clr-white: #e9e9e9;
}

.todo-item {
    display: flex;
    min-width: 300px;
    justify-content: space-between;
    background-color: var(--clr-green);
    padding: 8px;
    color: var(--clr-black);
    font-size: 24px;
    border: 4px solid transparent;
    border-radius: 4px;
    margin-bottom: 8px;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: translateY(0px) translateX(5px);
    }
}
    
.todo-options {
    display: flex;
    gap: 8px;
}

.complete,
.remove {
    cursor: pointer;
    display: grid;
    place-items: center;
}

.check-btn:hover,
.remove-btn:hover {
    fill: var(--clr-violet);
    transform: translateX(0px) translateY(-3px);
    transition: fill 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.todo-completed {
    text-decoration: line-through;
}